name: CI

on:
    - pull_request
    - push

jobs:
    tests:
        name: "PHP ${{matrix.php}}"
        runs-on: "ubuntu-24.04"
        strategy:
            fail-fast: false
            matrix:
                include:
                    -   php: "7.4"
                        COMPOSER_FLAGS: "--prefer-stable --prefer-lowest"
                    -   php: "8.0"
                    -   php: "8.1"
                    -   php: "8.2"
                    -   php: "8.3"
                    -   php: "8.4"
                    -   php: "8.4"
                        symfony-version: 8.0.x-dev
                        composer-stability: dev
        steps:
            -   name: Checkout source
                uses: actions/checkout@v4
            -   name: PHP setup
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    ini-values: zend.assertions=1, error_reporting=-1, display_errors=On, log_errors_max_len=0
            -   name: Install and configure Symfony Flex
                if: matrix.symfony-version
                run: |
                    composer global require --no-progress --no-scripts --no-plugins symfony/flex
                    composer global config --no-plugins allow-plugins.symfony/flex true
            -   name: Configure Composer minimum-stability
                if: matrix.composer-stability
                run: composer config minimum-stability ${{ matrix.composer-stability }}
            -   name: "Update composer dependencies"
                run: composer update -o --no-interaction --no-progress ${{ matrix.COMPOSER_FLAGS }}
                env:
                    SYMFONY_REQUIRE: ${{ matrix.symfony-version }}
            -   name: Tests
                env:
                    PHP_CS_FIXER_IGNORE_ENV: ${{ matrix.PHP_CS_FIXER_IGNORE_ENV }}
                run: vendor/bin/phpunit
    sca:
        name: Static Code Analysis
        runs-on: 'ubuntu-24.04'
        env:
            php-version: '7.4'
        steps:
            -   name: Checkout source
                uses: actions/checkout@v4
            -   name: PHP setup
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    ini-values: zend.assertions=1, error_reporting=-1, display_errors=On, log_errors_max_len=0
            -   name: "Update composer dependencies"
                run: composer update -o --no-interaction --no-progress ${{ matrix.COMPOSER_FLAGS }}
            -   name: "composer-require-checker"
                run: vendor/bin/composer-require-checker check composer.json
            -   name: "PHP CS Fixer"
                run: vendor/bin/php-cs-fixer check -v
